html, body{
  width: 100vw;
  height: 100vh;
  background-color: lightyellow;
  font: 100%;
}

.App {
  text-align: center;
  user-select: none;
  overflow-y: hidden;
}

.GameField{
  display: grid;
  grid-gap: 0.8rem;
  width: fit-content;
  margin: auto;
}

.TileFront{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 5px black;
  width: 9rem;
  height: 9rem;
  text-align: center;
  /* padding-top: 24px; */
}

.TileBack{
  display: block;
  background-color: grey;
  box-shadow: 2px 2px 5px black;
  width: 9rem;
  height: 9rem;
  border: 1px solid transparent;
}

.TileBack:hover{
  background-color: grey;
  box-shadow: 0 0 5px 5px gold;
}

.Overlay{
  font-size: 1rem;
}

.GameName{
  font-size: 3rem;
}

img{
  width: 6rem;
  height: 6rem;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}
